In [1]:
import requests

url ='https://data.boston.gov/dataset/1b894599-21ff-478f-937d-653954977951/resource/f123e65d-dc0e-4c83-9348-ed46fec498c0/download/tmpm6_yf0qo.csv'
req = requests.get(url, timeout=3, allow_redirects=True)
req.raise_for_status()
text = req.text
print(text[:1000])
print('...')
print(text[-500:])

DateTime_Measured,Total_Demand_KW
2019-12-08 15:45:00,1347
2019-12-08 15:30:00,1336
2019-12-08 15:15:00,1332
2019-12-08 15:00:00,1336
2019-12-08 14:45:00,1324
2019-12-08 14:30:00,1328
2019-12-08 14:15:00,1324
2019-12-08 14:00:00,1328
2019-12-08 13:45:00,1324
2019-12-08 13:30:00,1332
2019-12-08 13:15:00,1328
2019-12-08 13:00:00,1340
2019-12-08 12:45:00,1336
2019-12-08 12:30:00,1332
2019-12-08 12:15:00,1328
2019-12-08 12:00:00,1336
2019-12-08 11:45:00,1340
2019-12-08 11:30:00,1332
2019-12-08 11:15:00,1347
2019-12-08 11:00:00,1347
2019-12-08 10:45:00,1336
2019-12-08 10:30:00,1340
2019-12-08 10:15:00,1344
2019-12-08 10:00:00,1336
2019-12-08 09:45:00,1328
2019-12-08 09:30:00,1340
2019-12-08 09:15:00,1344
2019-12-08 09:00:00,1336
2019-12-08 08:45:00,1332
2019-12-08 08:30:00,1347
2019-12-08 08:15:00,1351
2019-12-08 08:00:00,1344
2019-12-08 07:45:00,1340
2019-12-08 07:30:00,1336
2019-12-08 07:15:00,1355
2019-12-08 07:00:00,1336
2019-12-08 06:45:00,1336
2019-12-08 06:30:00,1332
2019-12-08 06:15
...
2016-10-27 14:15:00,1720
2016-10-27 14:00:00,1735
2016-10-27 13:45:00,1708
2016-10-27 13:30:00,1731
2016-10-27 13:15:00,1728
2016-10-27 13:00:00,1701
2016-10-27 12:45:00,1712
2016-10-27 12:30:00,1712
2016-10-27 12:15:00,1720
2016-10-27 12:00:00,1731
2016-10-27 11:45:00,1720
2016-10-27 11:30:00,1728
2016-10-27 11:15:00,1751
2016-10-27 11:00:00,1758
2016-10-27 10:45:00,1743
2016-10-27 10:30:00,1739
2016-10-27 10:15:00,1724
2016-10-27 10:00:00,1731
2016-10-27 09:45:00,1724
2016-10-27 09:30:00,1716

In [2]:
import pandas
from io import StringIO

df = pandas.read_csv(StringIO(text))
df.head()

     DateTime_Measured  Total_Demand_KW
0  2019-12-08 15:45:00             1347
1  2019-12-08 15:30:00             1336
2  2019-12-08 15:15:00             1332
3  2019-12-08 15:00:00             1336
4  2019-12-08 14:45:00             1324

In [3]:
url2 ='https://data.boston.gov/dataset/652762e9-2556-47cd-8e80-798546992a57/resource/87c759ee-63b9-4aec-a00b-bba1672a20ef/download/tmpx80zw3rn.csv'
req = requests.get(url2, timeout=3, allow_redirects=True)
req.raise_for_status()
text2 = req.text
print(text2[:1000])
print('...')
print(text2[-500:])

datetime_utc_measured,total_demand_kw
2019-06-20 15:50:00,1260
2019-06-20 16:55:00,1274.4
2019-06-20 22:05:00,1245.6
2019-06-20 22:20:00,1173.6
2019-06-21 05:10:00,979.2
2019-06-21 05:15:00,957.6
2019-06-21 05:20:00,993.6
2019-06-21 05:25:00,979.2
2019-06-21 05:30:00,986.4
2019-06-21 06:05:00,993.6
2019-06-21 06:10:00,993.6
2019-06-21 07:50:00,1000.8
2019-06-21 07:55:00,986.4
2019-06-21 08:00:00,986.4
2019-06-21 08:05:00,1008
2019-06-21 08:10:00,993.6
2019-06-21 08:15:00,993.6
2019-06-21 08:50:00,986.4
2019-06-21 08:55:00,972
2019-06-21 09:00:00,972
2019-06-21 09:05:00,1008
2019-06-21 09:10:00,1000.8
2019-06-21 09:30:00,986.4
2019-06-21 09:35:00,1015.2
2019-06-21 09:50:00,1008
2019-06-21 09:55:00,1000.8
2019-06-21 10:00:00,1015.2
2019-06-21 10:05:00,1029.6
2019-06-21 13:50:00,1216.8
2019-06-21 15:40:00,1209.6
2019-06-21 15:50:00,1245.6
2019-06-21 17:20:00,1245.6
2019-06-21 17:35:00,1260
2018-06-26 02:25:00,698.4
2018-06-26 02:30:00,705.6
2018-06-26 02:35:00,691.2
2018-06-26 02:40:00,70
...
9-06-20 13:15:00,1231.2
2019-06-20 13:20:00,1231.2
2019-06-20 13:25:00,1238.4
2019-06-20 13:30:00,1231.2
2019-06-20 13:35:00,1209.6
2019-06-20 13:40:00,1209.6
2019-06-20 13:45:00,1202.4
2019-06-20 13:50:00,1202.4
2019-06-20 13:55:00,1202.4
2019-06-20 14:00:00,1209.6
2019-06-20 14:05:00,1209.6
2019-06-20 14:10:00,1188
2019-06-20 14:15:00,1202.4
2019-06-20 14:20:00,1108.8
2019-06-20 14:25:00,1080
2019-06-20 14:30:00,1116
2019-06-20 14:35:00,1116
2019-06-20 14:40:00,1123.2
2019-06-20 14:45:00,1116

In [4]:
import pandas
from io import StringIO

df2 = pandas.read_csv(StringIO(text2))
df2.head()

  datetime_utc_measured  total_demand_kw
0   2019-06-20 15:50:00           1260.0
1   2019-06-20 16:55:00           1274.4
2   2019-06-20 22:05:00           1245.6
3   2019-06-20 22:20:00           1173.6
4   2019-06-21 05:10:00            979.2

In [6]:
pip install pymongo

Collecting pymongo
  Downloading https://files.pythonhosted.org/packages/23/23/7666537adafcd232c88c156aa9382c859791d79bf12094005e009c2b6a3d/pymongo-3.9.0-cp37-cp37m-manylinux1_x86_64.whl (447kB)
     |████████████████████████████████| 450kB 2.7MB/s eta 0:00:01
Installing collected packages: pymongo
Successfully installed pymongo-3.9.0
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pymongo

client = pymongo.MongoClient()

In [7]:
db = client.get_database("cityhallpower")
collection = db.get_collection("cityhallpower")
update_count = 0
for record in df.to_dict('records'):
    result = collection.replace_one(
        filter={'DateTime_Measured': record['DateTime_Measured']},    # locate the document if exists
        replacement=record,                         # latest document
        upsert=True)                                # update if exists, insert if not
    if result.matched_count > 0:
        update_count += 1
print(f"rows={df.shape[0]}, update={update_count}, "
      f"insert={df.shape[0]-update_count}")

rows=97898, update=48, insert=97850

In [4]:
import pymongo

client = pymongo.MongoClient()

In [ ]:
db2 = client.get_database("librarypower")
collection = db2.get_collection("librarypower")
update_count = 0
for record in df2.to_dict('records'):
    result = collection.replace_one(
        filter={'datetime_utc_measured': record['datetime_utc_measured']},    # locate the document if exists
        replacement=record,                         # latest document
        upsert=True)                                # update if exists, insert if not
    if result.matched_count > 0:
        update_count += 1
print(f"rows={df2.shape[0]}, update={update_count}, "
      f"insert={df2.shape[0]-update_count}")